<div class="main__cards">
    <div class="card">
      <div class="card__header">
        <div class="card__header-title text-light"><strong>Informações gerais</strong>
        </div>
        <div class="settings">
          <div class="settings__block"><i class="fas fa-edit"></i></div>
          <div class="settings__block"><i class="fas fa-cog"></i></div>
        </div>
      </div>
      <div class="card__main">
        <p>As previsões feitas com esta ferramenta não possuem relevância no mundo real ou validade prática, sendo o seu objetivo apenas ilustrar o risco de propagação e disseminação da COVID-19 sem medidas de contenção.</br>Para informações detalhadas sobre saúde, consulte fontes oficiais como a OMS (Organização Mundial da Saúde), o Ministério da Saúde ou as Secretarias Municipais de Saúde. </p>
        </div>  
    </div>

    <div class="card">
        <div class="card__header">
          <div class="card__header-title text-light"><strong>O Modelo</strong>
          </div>
          <div class="settings">
            <div class="settings__block"><i class="fas fa-edit"></i></div>
            <div class="settings__block"><i class="fas fa-cog"></i></div>
          </div>
        </div>
        <div class="card__main">
          <p>As simulações SIR em redes exigem um modelo de rede, ou seja, uma descrição de como diferentes regiões interagem entre si. Nesta simulação, utilizamos dados de voos para conectar os países. Como não consegui encontrar dados detalhados para cada país, adotei a seguinte abordagem: para cada país, sei quantas aeronaves chegam e partem. Com base nisso, posso calcular a fração de todos os voos globais que decolam ou aterrissam em um determinado país. Assim, para estimar quantas pessoas viajam de A para B, basta multiplicar o total de passageiros aéreos por dia pela fração de aviões que saem de A e pela fração que chegam em B. Embora essa abordagem não seja perfeita, ela permite uma implementação simples e pode ser refinada posteriormente.</p>
        </div>  
    </div>
</div>