<mat-form-field>
    <mat-label>Taxa de Imunização / Vacinação</mat-label><input matInput type="number" [(ngModel)]="simulation.immunityRate" />  
</mat-form-field> => {{ 100 * simulation.immunityRate | number }}%  <fa-icon [icon]="faE" matTooltip="A parte da população que recebeu a vacinação e, portanto, não pode ser infectada."></fa-icon>
<br />
<mat-form-field>
    <mat-label>Base Mortality</mat-label><input matInput type="number" [(ngModel)]="simulation.baseMortalityRate" />
</mat-form-field>  => {{ 100 * simulation.baseMortalityRate | number }}%  <fa-icon [icon]="faE" matTooltip="A taxa de mortalidade básica corresponde à proporção de casos em que o indivíduo infectado vai a óbito devido à doença, enquanto o sistema de saúde ainda está funcionando dentro da normalidade (casos não críticos)."></fa-icon>
<br />
<mat-slide-toggle class="" [(ngModel)]="simulation.infectionBasedMortalityEnabled" (change)="updateMortalities()">Enable Infection-Based Mortality</mat-slide-toggle>&nbsp;<fa-icon [icon]="faE" matTooltip="Para doenças que requerem cuidados médicos intensivos, o número de pessoas infectadas pode se tornar um fator relevante para determinar a mortalidade. No caso do coronavírus, por exemplo, os casos graves exigem o uso de ventiladores para o tratamento. Se houver mais casos graves do que ventiladores disponíveis, a mortalidade aumenta drasticamente, pois os pacientes deixam de receber o tratamento necessário. Essa situação é chamada de crítica."></fa-icon>
<div *ngIf="simulation.infectionBasedMortalityEnabled">
    <br />
    <mat-form-field>
        <mat-label>Critical Mortality</mat-label>
        <input matInput type="number" [(ngModel)]="simulation.criticalMortality" />
    </mat-form-field> => {{ 100 * simulation.criticalMortality | number }}%  <fa-icon [icon]="faE" matTooltip="Uma vez que a fase crítica é atingida, qual é a taxa de mortalidade? Se, por exemplo, 5% de todos os casos exigem um determinado equipamento e, com esse equipamento, 80% dos casos críticos sobrevivem, a mortalidade básica é de 1% (5% × 0,2). O limite crítico corresponde à quantidade de equipamentos disponíveis por população, e a mortalidade crítica é de 5% (todos os casos críticos além do limite não recebem tratamento e acabam morrendo)."></fa-icon> <br />
    <mat-form-field>
        <mat-label>Critical Mortality Threshold</mat-label>
        <input matInput type="number" [(ngModel)]="simulation.criticalThreshold" />
    </mat-form-field> &nbsp; <fa-icon [icon]="faE" matTooltip="Esse valor define a taxa de infecção a partir da qual a taxa de mortalidade crítica entra em vigor. Para o coronavírus, por exemplo, isso seria representado pela quantidade de ventiladores disponíveis por habitante."></fa-icon>
</div>